@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,900;1,300;1,400;1,700&display=swap');
@import 'MediaQuery.css';

* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color:white;

}
#title {
    width: 100%;
    color: blueviolet;
    margin: 0px auto;
    padding: 25px;
}

.hero {
    margin: 0px auto;
    border: 1px solid black;
    width: 90%;
    background-image: url(../img/plantilla6.jpg);
    max-width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{

    background-image: url(../img/plantilla6.jpg)
}

/*No está haciendo lo que le pido*/
header {
    /*background-image: url(../img/plantilla5.jpg);*/
    height: 100px;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
}

.menu-bar {
    display: none;
}

.navbar {
    

    grid-template-columns: repeat(20, 1fr);
    padding: 30px;
    border: 1px solid black;
}

.menu li {
    list-style: none; /*quita viñetas*/
    float: left;
    background-color: deeppink;
    border: 2px solid black;
    margin: 3px;
    padding: 0px;
}

    .menu li a {
        float: left;
        text-decoration: none; /*Desaparace linea por debajo*/
        margin: 10px;
         /*Separación de los menus*/
        font-size: 1.8em; /*Incrementa el tamaño de la letra*/
        color: black; /*Color de la letra*/
        font-weight: 200; /*Resalta el texto*/
        padding: 2px;
    }

        .menu li a:hover {
            /*Cuando coloquemos el puntero encima cambia el color*/
            background-color: orange;
            transition: all.10s; /*Colocamos transición de 10 segundos*/
            color: #000; /*Color de letra*/
        }

.clearfix {
    clear: both;
}

.brand {
    color: red;
}

.content-info {
    border: 3px solid violet;
}

.seccion {
    float: left;
    width: 80%;
    min-height: 500px;
    border: 0px dashed black;
    font-size: medium;
    background-color: aliceblue;
    float: left;
    /*padding: 1px;
    margin: 2px;*/
}

.article {
    text-align: justify;
    font-weight: bold;
}

aside {
    float: left;
    border: 1px solid black;
    width: 20%;
    min-height: 500px;
    background-image: url(../img/AZUL.jpg);
    padding: 10px;
    align-content: center;
    align-items: center;
}

button {
    color: white;
    background-color: black;
    padding: 1px;
    margin: 10px;
  
    align-content: center;
    border-radius: 2px;
    border: 2px solid white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

/*INSCRIPCIONES A PARTIR DE AQUÍ*/

form {
    background-color: rgb(169, 158, 216);
    margin: 0px auto;
    width: 90%;
    max-width: 500px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

.tf {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.form__conteinerñ {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form_group {
    position: relative;
    --color: #5757577e;
}

.form_input {
    width: 100%;
    background: white;
    color: white;
}

tbody {
background-color: darkorange;

}